<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssbundle")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @RenderBody()
    <script src="~/Scripts/Libraries/bootbox.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>